## **SERVICES**

{{#each service_declarations}}
### {{rpn name}} {#{{rpn name}} data-text="{{rpn name}}"}

{{> filename }}

<table>
    <tr><th>Name</th><th>Type</th><th>Transport</th></tr>
    {{#each members}}
        <tr id="{{rpn name}}">
            <td><a href="{{sl @root.config @root.tag location}}">{{rpn name}}</a></td>
            <td>
                <code>{{~ type.identifier ~}}</code>
            </td>
            <td>{{~ type.protocol_transport ~}}</td>
        </tr>
    {{/each}}
</table>
{{/each}}